attrs
autopep8
beautifulsoup4
certifi
cffi
charset-normalizer
check50
clang-format
cryptography
defusedxml
editorconfig
emoji
fonttools
fpdf2
icdiff
idna
inflect
iniconfig
jellyfish
jinja2
jsbeautifier
lib50
markupsafe
more-itertools
packaging
pexpect
pillow
pluggy
ptyprocess
pycodestyle
pycparser
pyfiglet
pygments
pytest
python-magic
pytz
pyyaml
requests
setuptools
six
soupsieve
style50
submit50
tabulate
termcolor
typeguard
typing-extensions
urllib3
validators
